page-seja {
    .bg-image{
        background-image: url('../assets/imgs/capa.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}
